@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #fffdf2;
}

body {
  font-family: ui-rounded, system-ui, sans-serif;
}

button {
  -webkit-tap-highlight-color: transparent;
}
